/* Allgemeine Farben */
:root {
  --beige: #f5f0e6;
  --braun: #5c3a21;
  --hellbraun: #a67c52;
  --dunkelbeige: #e0d6c3;
  --text: #2e1c0e;
}

/* Grundstruktur */
body {
  margin: 0;
  font-family: "Georgia", "Times New Roman", serif;
  background-color: var(--beige);
  color: var(--text);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Höhe des Viewports */
}

/* Kopfbereich */
header {
  background-color: var(--braun);
  color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Kreuz Logo auf Willkommenseite */
#cross {
  font-size: 50px;
  padding-left: 20px;
  line-height: 1;
  color: #ffe600;
   transition: text-shadow 0.3s ease;
}

#cross:hover {
  text-shadow:
    0 0 5px #fff7b2,   /* leichter innerer Schein */
    0 0 10px #ffd700,  /* goldener Schein */
    0 0 20px #ffcc00,
    0 0 30px #ffb800,
    0 0 40px #ffaa00,
    0 0 50px #ff9900;
}

#title {
  flex-grow: 1;        
  text-align: center;   
}

#title h1 {
  margin: 0;
  font-size: 2.3rem;
}

#title p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  color: #f5e8d6;
}

/* Willkommens Div */
#indexWillkommen {
  display: flex;
 
}

/* Seitenlayout */
.container {
  display: flex;
  min-height: 80vh;
}

/* Navigation */
nav {
  width: 220px;
  background-color: var(--dunkelbeige);
  padding: 1.5rem;
  border-right: 2px solid var(--hellbraun);
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-bottom: 1.2rem;
}

nav a {
  text-decoration: none;
  color: var(--braun);
  font-weight: bold;
}

nav a:hover {
  color: var(--text);
  text-decoration: underline;
}

/* Hauptinhalt */
main {
  flex-grow: 1;
  padding: 2rem;
}

/* Fussbereich */
footer {
  background-color: var(--dunkelbeige);
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  border-top: 2px solid var(--hellbraun);
  color: var(--text);
}

/* Bild-Slider für Katalog */
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider img {
  display: none;
  width: 100%;
  height: auto;
  border-radius: 4px;
  max-width: 600px;
  overflow: hidden;
  margin-bottom: 40px;
}

.slider img.active {
  display: block;
}

a {
  color: inherit;         
  text-decoration: none;  
  font-weight: bold;      
}

a:hover {
  text-decoration: underline; 
  color: #8B0000;             
}

a.no_hover:hover {
  text-decoration: none; 
             
}

img {
  max-width: 30%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 20px;
  display: inline; 
}

#Justitia {

  max-width: 20%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 15px;
  display: inline; 

}

#jesutaufe {

  max-width: 10%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 40px;
  display: inline; 

}

#creditcard {

  max-width: 20%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 15px;
  display: inline; 

}


